@font-face {
    font-family: 'chalkboard';
    src: url('assets/fonts/chalkboard.woff2') format('woff');
}

.canvas-container{
    width: 100%;
}
.canvas-container canvas{
    max-height: 100vh;
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}
.form-label{
    opacity: 0.5;
    font-size: 0.8em;
    margin-bottom:0.2rem;
}
.form-control:disabled {
    color:#7d7d7d;
}