@font-face {
    font-family: 'chalkboard';
    src: url('assets/fonts/chalkboard.woff2') format('woff');
}
@font-face {
    font-family: 'harmattan';
    src: url('assets/fonts/Harmattan-Bold.ttf') format('truetype');
}

.canvas-container {
    zoom: 0.5;
}