@font-face {
    font-family: 'chalkboard';
    src: url('assets/fonts/chalkboard.woff2') format('woff');
}

.canvas-container{
    width: 100%;
}
.canvas-container canvas{
    max-height: 100vh;
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}
.form-label{
    opacity: 0.5;
    font-size: 0.8em;
    margin-bottom:0.2rem;
}
.form-control:disabled {
    color:#7d7d7d;
}
/* scrollable column setup */
.scroll-column {
    overflow-y: initial;
    max-height:none; /* no vertical scroll */
    margin-bottom: 1em;
}

.big-checkbox{
    width: 28px;
    margin-top: 7px;
}

@media (min-width: 992px) {
    /* desktop screens, the scroll-column scrolls */
    .scroll-column{
        overflow-y: auto;
        max-height: calc(100vh - 6em); /* Allow vertical scroll */
    }

    /* Make the second column sticky on desktop */
    .sticky-column {
        position: sticky;
        top: 0;
    }
}
